examples/**/.terraform/

examples/**/.terraform.tfstate*
examples/**/terraform.tfstate*

examples/**/*.tfvars
!examples/**/sample.tfvars

examples/**/*.hcl
!examples/**/backend.hcl

functions/transcode-python.zip
